
            body{
                background-color: pink;
            }
            h1{
                color: blue;
            }
            p{
                color: yellow;
                font-size: 50px;
            }